Package: com.amirramos
Name: ChangeLockText
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: amirramos
Author: amirramos
Section: Tweaks
Depends: mobilesubstrate, preferenceloader