Package: com.amirramos.changelocktext
Name: ChangeLockText
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Change (Press home to unlock) text in lockscreen whatever you like.
Maintainer: amirramos
Author: amirramos
Section: Tweaks
Depiction: https://amirhacks.github.io/repo/depiction/changelocktext.html