Package: com.amirramos.changelocktext
Name: ChangeLockText
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An Awesome Mobilesusbtrate Tweak
Maintainer: amirramos
Author: amirramos
Section: Tweaks
