Package: com.amirramos.changelocktext
Name: ChangeLockText
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An Awesome Mobilesusbtrate Tweak
Maintainer: amirramos
Author: amirramos
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 396
