<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.amirramos.colorlocktextprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.amirramos.colorlocktextprefs.settingschanged</string>
		</dict>

		 <dict>
			 <key>action</key>
			 <string>colorpicker</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.amirramos.colorlocktextprefs</string>
				<key>key</key>
				<string>Color</string>
				<key>fallback</key>
				<string>#ff0000</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Set Custom Color</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to apply changes to SpringBoard</string>
		</dict>

		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>icon</key>
			<string>respring.png</string>
		</dict>
		<dict>
	 	 <key>cell</key>
	 	 <string>PSGroupCell</string>
	 	 <key>label</key>
	 	 <string>!it may need to respring twice to take changes!</string>
	  </dict>
	 <dict>
		 <key>cell</key>
		 <string>PSGroupCell</string>
	 </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Donate to my paypal</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>action</key>
			<string>paypal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Follow Me</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>twitter</string>
		</dict>
		<dict>

		 <key>cell</key>
		 <string>PSGroupCell</string>
	 </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SourceCode</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
	 	 <key>cell</key>
	 	 <string>PSGroupCell</string>
	 	 <key>label</key>
	 	 <string>Copyright © 2021, amirramos All Rights Reserved</string>
	  </dict>
	</array>
	<key>title</key>
	<string>HomescreenTextColor  </string>
</dict>
</plist>
